<head>
  <meta name="description" content="一个产品经理的博客">
  <meta charset="UTF-8">
  <title>Rivendell--JW's Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style class="inlineCSS">
    {% include critical.css %}
  </style>
  <link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"></noscript>
  <script type="text/javascript">
   {% include loadCss.js %}
  </script>
</head>
