<head>
  <meta name="description" content="提供图书、电影、音乐唱片的推荐、评论和价格比较，以及城市独特的文化生活。">
  <meta charset="UTF-8">
  <title>Rivendell--JW's Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style class="inlineCSS">
    {% include critical.css %}
  </style>
  <link rel="preload" href="{{ '/assets/css/main.css' | relative_url }}" as="style" onload="this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"></noscript>
  <script type="text/javascript">
   {% include loadCss.js %}
  </script>
</head>
