---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en_US" }}">

  {% include head.html %}

  <body class="site">

 <!-- Google Tag Manager (noscript) -->

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/sleek_lg.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">Rivendell -- JW‘s Blog</h1>
        <p class="hero__meta">「我们看到的漫天星光早已死去，我们只是被宇宙的往事所包围.」</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

            {% for post in site.posts %}
              {% include card.html %}
            {% endfor %}

          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
